@charset "utf-8";

@keyframes loop-left {
    from {
        transform: translate3d(100%, 0, 0);
        }

    to {
        transform: translate3d(-100%, 0, 0);
        }
}

@keyframes  loop_rotate{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    width: 100%;
    max-width: 100%;
    font-family: Yu Gothic,"Noto Sans JP", sans-serif;
    background: #fff;
}

img {
    vertical-align: bottom;
}

.container {
    max-width: 400px;
    width: 100%;
    height: 100%;
    color: #000;
    background: #fff;
    margin: 0 auto;
    z-index: 2;
    position: relative;
    overflow: hidden;
}

.wrapper {
    padding: 0 16px;
}

.cta__container {
    padding: 20px 0;
}

.cta {
    color: #000;
    border: 1px solid #000;
    display: block;
    width: 70%;
    padding: 10px 0;
    border-radius: 50px;
    margin: 50px auto;
    text-align: center;
    position: relative;
    transition: all 0.5s;
}

.cta:hover {
    color: #fff;
    background-color: #000;
}

.tittle {
    font-weight: 600;
    font-size: 24px;
}

.fadeIn {
    animation-name: fadeUp;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.roof {
    position: relative;
    top: 1.7rem;
}

.bottom {
    width: 100%;
    position: relative;
    top: -17rem;
    object-fit: cover;
    margin-bottom: 100px;
    z-index: -1;
}

#header {
    height: 80px;
    background-color: transparent;
    color: #fff;
    position: relative;
    z-index: 4;
    /* border-bottom: 2px solid #eee; */
}

.header__container {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.header__list {
    display: flex;
    width: 100%;
    height: 80px;
}

.header__list__item {
    width: 10%;
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-size: 0.9rem;
}

.header__logo {
    font-size: 48px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.mv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.mv video {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 177.77777778vh; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
    height: 56.25vw; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
    min-height: 100%;
    min-width: 100%;
    filter: brightness(0.9);
}

.mv__text {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    font-size: 3rem;
    color: #fff;
    z-index: 10;
}

.mv__text__list {
    color: #fff;
    font-weight: 500;
    position: fixed;
    top: 20%;
    left: 5rem;
}

.mv__text__list__item {
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 20px;
    z-index: 10;
    border-bottom: 1px solid transparent;
    transition: all 0.5s;
}

.mv__text__list__item:hover {
    border-bottom: 1px solid #fff;
}

#top {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 200px;
}

#top video {
    height: 100%;
    display: block;
    margin: 0 auto;
    aspect-ratio: 16 / 9;
}

.top__title {
    font-size: 3rem;
    width: 100%;
    font-weight: 600;
    color: #fff;
    z-index: 20;
    line-height: 1.4;
    text-shadow: 1px 1px 10px #aaa;
    position: absolute;
    bottom: 60px;
    right: 0;
    animation: loop-left 10s linear paused infinite;
    animation-play-state: running;
}

#concept {
    width: 100%;
    background: #fff;
    margin-bottom: 100px;
    opacity: 0;
}

.concept__img {
    width: 100%;
    height: 100%;
    object-position: left;
}

.concept__title {
    margin: 20px 0;
}

.concept__img {
    filter: contrast(0.8);
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.concept__list {
    margin-top: 40px;
    padding: 16px;
    position: relative;
} 

.concept__list__rcm{
    content: "";
    background: #8EACCD;
    color: #fff;
    width: 100px;
    height: 100px;
    font-size: 0.8rem;
    position: absolute;
    padding: 30px 16px;
    top: 0;
    left: -10px;
    border-radius: 50%;
}

.concept__list__item {
    padding: 16px 0;
    border-bottom: 1px dotted #8EACCD;
}

.concept__list__item:first-of-type {
    margin-top: 80px;
}

.fadeIn__inner {
    font-weight: 500;
    line-height: 1.5;
    font-size: 0.96rem;
    margin-bottom: 20px;
}

.fa-check {
    margin-right: 10px;
}

#about {
    padding: 30px 0;
    color: #fff;
    background: #8EACCD;
}

#about .fadeIn__inner:last-of-type {
    font-size: 0.6rem;
}

#about .cta {
    color: #fff;
    border: 1px solid #fff;
}

#about .cta:hover {
    color: #8EACCD;
    background-color: #fff;
}

.about__img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: bottom;
    transform-origin: bottom;
    margin-bottom: 20px;
    border-radius: 6px;
    filter: contrast(0.8);
}

.about__title {
    font-weight: 600;
    font-size: 24px;
    margin: 20px 0;
}

#product {
    position: relative;
    overflow: hidden;
    margin-bottom: 150px;
    opacity: 0;
    animation-delay: 0.6s;
    background: #fff;
}

.product__img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    position: relative;
    filter: contrast(110%);
}

.product__title {
    margin: 20px 0;
}

#faq {
    background-color: #8EACCD;
    color: #fff;
    padding: 60px auto;
    position: relative;
}

.accordionBtn {
    position: relative;
    padding: 20px 0;
    cursor: pointer;
    width: 100%;
    transition: all 0.5s;
}

.accordionBtn::after {
    content: "";
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(-135deg) translateY(9px);
    position: absolute;
    right: 20px;
    top: 50%;
}

.accordionBtn.open::after {
    transform: rotate(45deg) translateY(-10px);
}

.faq__img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.faq__inner {
    padding: 100px 16px;
}

.faq__list {
    padding: 20px 0;
    z-index: 10;
}

.faq__list__item {
    opacity: 0;
    line-height: 0;
    padding: 0;
    z-index: 10;
    transition: all 0.5s;
}

.faq__list__item.open {
    padding: 20px 0;
    line-height: 1.5;
    opacity: 1;
}

#footer {
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 30;
}

.footer__logo {
    text-align: center;
    font-weight: 500;
}

.footer__list {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}

.footer__list__item {
    font-size: 32px;
    transition: all 0.5s;
}

.footer__list__item:hover {
    font-size: 36px;
}

@media screen and (max-width: 768px) {

    .hamburger {
        display: block;
        width: 30px;
        height: 30px;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 30;
    }

    .hamburger span {
        display: block;
        background: #eee;
        width: 30px;
        height: 2px;
        position: relative;
        transition: all 0.5s;
    }

    .hamburger span:first-child {
        top: 4px;
    }

    .hamburger span:nth-child(2) {
        top: 10px;
    }

    .hamburger span:nth-child(3) {
        top: 16px;
    }

    .hamburger span:first-child:active {
        top: 10px;
    }

    .hamburger span:active:nth-child(2){
        transform: translateY(-15deg);
        
    }

    .hamburger span:active:nth-child(3){
        transform: translateY(-15deg);
    }

    .header__list__item {
        width: 30%;
    }

    /* 右のロゴ */
    .mv__text {
        display: none;
    }

    /* ハンバーガーメニューリスト */
    .mv__text__list {
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 999;
        width: 60%;
        height: 100%;
        transition: all 0.5s;
        background: #8EACCD;
    }

    .mv__text__logo {
        z-index: -10;
        display: inline-block;
    }

    /* リストを開いた時の処理 */
    .mv__text__list.active {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
    }

    .mv__text__list__item {
        margin: 40px;
        font-size: 1.8rem;
    }

    .mv__text__list__item:hover {
        border-bottom: 1px solid transparent;
    }

}

@media screen and (max-width: 425px) {

    .header__list {
        display: none;
    }

    .mv__text__list {
        width: 80%;
    }

    .mv__text__list__item {
        margin: 20px;
        font-size: 1.2rem;
    }
    
    .concept__img {
        object-position: center;
    }
}